<body>
    <header>
      <mat-toolbar>
        <div class="imagem-book"></div>
        <span class="spanbook">BookABook</span>
      </mat-toolbar>
    </header>
  
    <div class="card">
    <!-- Adicione um (ngSubmit) no formulário -->
  <form class="content__form"  #f="ngForm" autocomplete="off" (ngSubmit)="submitCadastro(f)">
    <p class="txtLogin"><strong>Cadastrar-se</strong></p>
    <p class="txtSpan">Utilize suas credenciais para concluir o cadastro</p>
    <div class="input">
      <div class="content__inputs">
        <!-- Campo de Nome -->
        <label>
          <input name="name" type="text" placeholder="Digite seu nome" [(ngModel)]="user.name" #name="ngModel" required minlength="3" maxlength="50" required/>
        </label>

        <!-- Erro do Nome -->
        <div class="container">
        <div>
        <app-message [control]="name" class="error" error="required" text="Informe um nome"></app-message>
        <app-message [control]="name" class="error" error="minlength" text="Mínimo de {{ name.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ name.errors?.minlength?.actualLength }}"></app-message>
      </div>
        </div>

        <!-- Campo de Email -->
        <label>
          <input name="email" type="email" placeholder="Digite seu email" [(ngModel)]="user.email" #email="ngModel" required />
        </label>

        <!-- Erro do Email -->
        <div class="container">
        <div>
          <app-message [control]="email" class="error" error="required" text="Informe um e-mail"></app-message>
        </div>
        </div>
  
        <!-- Campo de Senha -->
        <label>
          <input name="password" type="password" placeholder="Digite sua senha" [(ngModel)]="user.password" #password="ngModel" required minlength="6" maxlength="50" />
        </label>

        <!-- Erro da Senha -->
        <div class="container">
          <div>
          <app-message [control]="password" class="error" error="required" text="Informe uma senha de 6 a 50 caracteres."></app-message>
          <app-message [control]="password" class="error" error="minlength" text="Mínimo de {{ password.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ password.errors?.minlength?.actualLength }}"></app-message>
        </div>
        </div>
  
        <!-- Confirmação de Senha -->
        <label>
          <input name="passCheck" type="password" placeholder="Confirme sua senha" [(ngModel)]="user.password_confirm"/>
        </label>

         <!-- Erro da Confirmação de Senha -->
         <div class="container">
          <div class="error" *ngIf="user.password != user.password_confirm && user.password_confirm != null">As senhas devem ser iguais</div>
        </div>
      </div>        

      <!-- Erro da Confirmação de Senha -->

      <div class="content__buttons">
        <!-- Botão de Cadastro -->
        <button class="button_login" type="submit">Cadastrar-se</button>
  
        <!-- Botão de Redirecionamento para a página de login -->
        <button class="button_cadastro" routerLink="/login">
          Já possui uma conta? Fazer login
        </button>
      </div>
    </div>
  </form>
  
    </div>
  
    <footer>
      <div class="rodape">
        <span>&copy; BookABook. Todos os direitos reservados.</span>
      </div>
    </footer>
  </body>
 