body, html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*header----------------------------------------*/

mat-toolbar {
  background-color: #323f7a;
  color: white;
  position: relative;
}


.imagem-book {
  width: 45px; 
  height: 45px; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  background-image: url('../book.png'); 

}

/*header----------------------------------------*/



.add-review {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.review{
  background: #323f7a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 16px;
  cursor: pointer;

}

.review:hover {
  background: #583d82;
}


.card {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);
  border-radius: 15px;
  background-color: rgb(219, 219, 219);
}

.review-conteiner{
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  width: 50%;
}
.user-text {
  padding: auto;
  flex: 1;
}

.user-image img {
  padding: 10px;
  max-width: 40px;
  height: auto;
  border-radius: 100%;
}


.review-container {
  display: flex;
  width: 100%;
}

.book-image img {
  padding: 20px;
  max-width: 200px;
  height: auto;
}

.card-content {
  padding: 20px;
  flex: 1; /* Ocupar o espaço restante ao lado da imagem */
}