<body>
  <header>
    <mat-toolbar>
      <div class="imagem-book"></div>
      <span class="spanbook">BookABook</span>
    </mat-toolbar>
  </header>

  <!-- Botão para adicionar uma review -->
  <div class="add-review">
    <button class="review" (click)="openReviewForm()">Adicionar review</button>
  </div>

  <!-- Card de usuário e review -->
  <div class="card">
    <!-- Seção do usuário -->
    <div class="user">
      <div class="user-image">
        <!-- Imagem do usuário -->
        <img
          src="http://dashboard.olucaro.com/olucarodashboard/assets/profiles/user_male_portrait.png"
          alt="Imagem do usuário"
        />
      </div>

      <div class="user-text">
        <!-- Nome do usuário ou Nickname -->
        <p>&#64;Nickname</p>
      </div>
    </div>

    <!-- Seção de review -->
    <div class="review-container">
      <!-- Imagem do livro -->
      <div class="book-image">
        <img
          :src="https://th.bing.com/th/id/R.9d09739ab1692a2162106f77576a8009?rik=KjgeacK1WxLf6Q&pid=ImgRaw&r=0"
          alt="Título do livro"
        />
      </div>

      <!-- Conteúdo da review -->
      <div class="card-content">
        <!-- Título do livro -->
        <h1>Título do livro aqui.</h1>
        <!-- Texto da review -->
        <p>Review do livro aqui...</p>
      </div>
      
    </div>
  </div>
</body>
