
<body>
  <header>
    <mat-toolbar>
      <div class="logoheader">
        <div class="imagem-book"></div>
        <span class="spanbook">BookABook</span>
        <!-- {{ auth.jwtPayload?.name }} -->
        <span class="spacer"></span>

        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </header>

  <!-- Botão para adicionar uma review  -->
  <div class="add-review">
    <button class="review" (click)="openReviewForm()">Adicionar review</button>
  </div>


<!-- Seção para exibir as reviews  -->
<div class="reviews-container" >
  <div *ngFor="let review of reviews" class="card" style="background-color: #323f7a ;">
    <!-- Título da Review -->
    <h1 class="titulo" style="color: aliceblue;">{{ review.review_name }}</h1>
    <div class="avaliacao" style="margin: auto; width: fit-content;">
      <div class="estrelas" *ngFor="let index of [1, 2, 3, 4, 5]" tabindex="0" >
        <mat-icon [style.color]="review.rate >= index ? 'gold' : 'gray'" aria-hidden="true">star</mat-icon>
      </div>
    </div>

    <div style="background-color: aliceblue;">
      <!-- Seção do usuário -->
      <div class="user">
        <div class="user-text">
          <!-- Nome do usuário ou Nickname -->
          <p><strong>{{ review.user.name }} -</strong> {{ review.review_date}}</p>
        </div>
      </div>

      <!-- Seção de review  -->
      <div class="review-container">
        <!-- Imagem do livro  -->
        <div class="book-image">
          <img [src]= "review.image" alt="{{ review.review_name }}" />
        <!-- Nome do Livro e Gênero -->
          <p class="book-info">{{ review.book_name }}, {{ review.category }}</p>
        </div>

        <!-- Conteúdo da review  -->
        <div class="card-content">
          <!-- Texto da review  -->
          <p class="reviewtxt">{{ review.description }}</p>
          
          <!-- Texto da observação  -->
          <p class="reviewobs"> <span>Observações:</span> <br>{{ review.observation }}</p>
        </div>
      </div>
    </div>
  </div>
  


 

    <!-- Caso não haja reviews  -->
    <div *ngIf="reviews.length === 0">
      <p>Nenhuma review disponível.</p>
    </div>
  </div>
</body>
