    <td>
        <span class="p-column-title">Usuário</span>
        <!-- {{ reviews.user.name }} falta user service-->
    </td>
<!-- <div class="container">

    <form autocomplete="off" (ngSubmit)="search()">
      <div class="p-grid">
  
        <div class="p-col-12">
          <h1>Atividades Físicas</h1>
        </div>
  
        <div class="p-col-12 p-md-6 p-fluid">
          <label>Tipo</label>
          <p-dropdown name="type" [options]="types" placeholder="Selecione"
          [(ngModel)]="filter.type"></p-dropdown>
        </div>
        <br>
        <div class="p-col-12">
          <label style="display: block">Data</label>
  
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="initialDate"
            [(ngModel)]="filter.initialDate"></p-calendar>
  
          <label class="label"> até </label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }" name="finalDate"
            [(ngModel)]="filter.finalDate"></p-calendar>
        </div>
        <br>
        <div class="p-col-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
        <br>
      </div>
    </form>
  
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="activities" responsiveLayout="stack" [breakpoint]="'768px'"
        [paginator]="true" [rows]="filter.itensPerPage"
        [lazy]="true" [totalRecords]="totalRecords"
        (onLazyLoad)="whenChangePage($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Usuário</th>
              <th>Tipo</th>
              <th>Data</th>
              <th>Distância</th>
              <th>Duração</th>
              <th class="col-actions-header"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-activity>
            <tr>
              <td>
                <span class="p-column-title">Usuário</span>
                {{ activity.user.name }}
              </td>
              <td>
                <span class="p-column-title">Tipo</span>
                <span *ngIf="activity.type === 'CORRIDA'">
                  <img src="assets/running_icon.png" alt="Corrida">
                </span>
                <span *ngIf="activity.type === 'CAMINHADA'">
                  <img src="assets/walking_icon.png" alt="Corrida">
                </span>
                <span *ngIf="activity.type === 'CICLISMO'">
                  <img src="assets/cycling_icon.png" alt="Corrida">
                </span>
                <span *ngIf="activity.type === 'NATACAO'">
                  <img src="assets/swimming_icon.png" alt="Corrida">
                </span>
              </td>
              <td>
                <span class="p-column-title">Data</span>
                {{ activity.date }}
              </td>
              <td>
                <span class="p-column-title">Distância</span>
                {{ activity.distance | number: '1.1-1'}} km
              </td>
              <td>
                <span class="p-column-title">Duração</span>
                {{ activity.duration }} min
              </td>
              <td class="col-actions">
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/activities', activity.id]"></a>
                <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmRemoval(activity)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td>
                Nenhuma atividade cadastrada.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="p-col-12">
        <p><a pButton label="Nova Atividade" routerLink="/activities/new"></a></p>
      </div>
    </div>
  </div> -->

  <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/reviews', review.id]"></a>
  ...

  <p><a pButton label="Nova Review" routerLink="/reviews/new"></a></p>