
.title {
  font-size: 24px;
  color: #323f7a;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

a {
  display: inline-block;
  padding: 8px 40px; /* Ajuste o padding conforme necessário */
  text-decoration: none;
  color: #323f7a;;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

a:hover {
  color: #583d82;
}



.voltar {
  background: #323f7a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 16px;
  cursor: pointer;
}



.popup-container {
  width: 800px;
}

.popup-form {
  max-height: 90vh;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

mat-form-field {
  width: 100%;
}

input, textarea {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

.input_review {
  min-height: 250px;
  resize: vertical;
}

#categoria {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.avaliacao {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.txtAvaliacao {
  font-size: medium;
  color: rgb(80, 80, 80);
  margin-right: 10px;
}

.enviar {
  background: #323f7a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 16px;
  cursor: pointer;
}

.enviar:hover {
  background: #583d82;
}
