
.popup-container {
    width: 800px; 
  }
  
  .popup-form {
    max-height: 90vh; 
    overflow-y: auto; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-form-field textarea {
    min-height: 250px; 
  }
  
  input[type="file"] {
    margin-bottom: 15px;
  }
  
  
  .avaliacao{
    display: flex;
    position: relative;
  }
  
  .txtAvaliacao{
    font-size: medium;
    color: rgb(80, 80, 80);
  }
  
  .estrelas{
    flex: 1;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  
  .enviar {
    background: #323f7a;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 16px;
    cursor: pointer;
  }
  
  
  
  .enviar:hover {
    background: #583d82;
  }
  