<!-- review-list.component.html -->

<body>
  <header>
    <mat-toolbar>
      <div class="imagem-book"></div>
      <span class="spanbook">BookABook</span>
    </mat-toolbar>
  </header>

  <!-- Botão para adicionar uma review -->
  <div class="add-review">
    <button class="review" (click)="openReviewForm()">Adicionar review</button>
  </div>



  <!-- Seção para exibir as reviews com paginação -->
  <div class="reviews-container">
    <div *ngFor="let review of pagedReviews | paginate: { itemsPerPage: 3, currentPage: p }" class="card">
      <!-- Seção do usuário -->
      <div class="user">
        <div class="user-text">
          <!-- Nome do usuário ou Nickname -->
          <p>&#64;{{ review.nickname }} - {{ review.reviewDate | date }}</p>
        </div>
      </div>

    <!-- Seção de review -->
    <div class="review-container">

      <!-- Imagem do livro -->
      <div class="book-image">
        <img [src]="review.bookImage" alt="{{ review.bookTitle }}" />
      </div>

      <!-- Conteúdo da review -->
      <div class="card-content">
        <!-- Título do livro -->
        <h1 class="titulo">{{ review.bookTitle }}</h1>
        <!-- Gênero do livro -->
        <p class="genero">{{ review.genre }}</p>
        <!-- Texto da review -->
        <p class="reviewtxt">{{ review.reviewText }}</p>
      </div>
    </div>
  </div>

  <!-- Caso não haja reviews -->
  <div *ngIf="reviews.length === 0">
    <p>Nenhuma review disponível.</p>
  </div>

  <!-- Controles de paginação -->
   <div class="pagination-controls-container">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
</body>
